body{
    position: relative;
    width: 1440px;
    height: 10447px;
    
    background: #FFFFFF;
}

.mainFont{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    
    letter-spacing: 0.36px;
    color: #274C5B;
}

header{
    position: absolute;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 40px;
}

nav{
    position: absolute;
    height: 72px;
    left: 2.08%;
    right: 2.08%;
    top: 0px;

}

.mainMenu{
    position: absolute;
    height: 72px;
    left: 0%;
    right: 37.38%;
}

.mainMenu img{
    position: absolute;
    top: 9px;
}

#navigation{
    position: absolute;
    height: 72px;
    width: 664.21875px;
    left: 200px;
    top: 0px;
    display: flex; 
    justify-content: space-evenly;  
}

.main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #274C5B;
    margin-top: 20px;
}

.mainMenu a {
    text-decoration: none;

}

.main:hover, .active{
    color: #7EB693;
}

.chart{
    position: absolute;
    height: 70px;
    width: 159px;
    left: 1122px;
    top: 0px;
    border-radius: 33px;


    border: 1px solid #D4D4D4;
    border-radius: 33px;
}

.chart img{
    height: 56px;
    width: 56px;
    left: 11px;
    top: 7px;
    border-radius: 0px;

}

.chart p{
    position: relative;
    height: 29px;
    width: 35px;
    top: 20px;
    left: 77px;
    margin: 0px;
}

.chart div{
    position: relative;
    height: 18px;
    width: 22px;
    left: 113px;
    border-radius: 0px;
    border: 1px solid #274C5B;
    top: -4px;
    margin: 0px;
    color: #274C5B;
    text-align: center;
}

.mainPage img{
    position: absolute;
    height: 913px;
    width: 1440px;
    top: 152px;
}

.mainPage p{
    position: absolute;
    top: 260px;
    left: 30px;
    height: 65px;
    width: 241px;

    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;

    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #7EB693;
}

.mainPage span{
    position: absolute;
    width: 496px;
    left: 30px;
    top: 399px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;

    letter-spacing: 0.36px;

    color: #274C5B;
}

.Button{
    position: absolute;
    height: 82px;
    width: 219px;
    left: 30px;
    top: 751px;
    border-radius: 16px;

    background: #EFD372;
    border: 1px solid #EFD372;
    border-radius: 16px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;	
}

.Button:hover{
    font-size: 25px;
}

